.main {
  display: flex;
  flex-direction: row;
  background-color: #151f2b;
}

.leftPart {
  height: 100vh;
  width: 20vw;
  border-right: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}

.middlePart {
  height: 100vh;
  width: 50vw;
}

.rightPart {
  height: 100vh;
  width: 30vw;
  border-left: 0.5px solid lightgray;
}

.logoBox {
  margin-top: 2rem;
}

.img {
  width: 50px;
  height: 100%;
  margin-right: 10px;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usernameBox {
  display: flex;
  flex-direction: column;
}

.name {
 color: white;
 margin-bottom: 0;
 font-weight: bold;
}

.username {
  color: grey;
  font-size: 14px;
}

.logoutBtn {
  margin-top: 1rem;
  color: white;
  width: 33%;
  height: 30px;
  background-color: #151f2b;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2rem;
}

.tweetContainer {
  height: 28%;
  border-bottom: 0.5px solid lightgray;
}

