.main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 0.5px solid lightgray;
}

.userContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.name {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.username {
    color: grey;
    font-size: 14px;
    margin-right: 10px;

}
.point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
    margin-right: 10px;
}

.img {
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

.tweet {
    color: white;
}
.iconContainer{
    display: flex;
    flex-direction: row;}

.icon {
    color: white;
}

.heartCount{
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}