.main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tweetBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.h3 {
    color: white;
}

.tweetInput {
    width: 75%;
    height: 30px;
    align-self: center;
    background-color: #151f2b;
    border:none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
    color: lightgray;
}

.tweetCount {
    color: white;
    margin-right: 1rem;
}

.tweetBtn {
    color: white;
    width: 100px;
    height: 30px;
    background-color: #3e9af0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
}